
  <link rel="stylesheet" href="../assets/styles.css">

<body>

    <div class="footer-container">

        <div class="player-info">
            <img src="../assets/parte-de-mi.jpeg">
            <div>
                <h1 class="white">Parte de mi</h1>
                <h2 class="gray">Polo Nandez</h2>
            </div>
        </div>


        <div class="player-container">

            <div class="player-buttons">
                <button class="white"">◀</a>
                <button class="white">[X]</a>
                <button class="white">▶</a>
            </div>
            
            <div class="timeline-container">
                <div class="timeline" id="timeline">
                    <div class="progress" id="progress"></div>
                </div>
                <div class="time-labels">
                    <span id="current-time">0:00</span>
                    <span id="total-time">3:30</span>
                </div>

            </div>
        </div>

    </div>


</body>
</html>
