<body>

    <div class="navbar-container">
        <img src="../assets/icon.png"></img>

        <div class="navegator-container">
            <div class="navegator-buttons">
                <button href="#" class="white"">Home</a>
                <button href="#" class="white">Playlists</a>
                <button href="#" class="white">Top Songs</a>
            </div>
            
            <div class="search-container">
                <input type="text" id="query" placeholder="Search" />
                <button id="navegator-search">Search</button>
            </div>
        </div>
    </div>

    <ul id="results"></ul>

</body>
</html>
